@import '../themes/color-palette';

footer {
    margin: 0;
    background-color: $header-footer-bg-color;
    color: $bracket-game-text-color;

    i {
        color: $bracket-game-text-color;
    }
    
    #footerCopyright {
        font-size: .6rem;
    }

}