@import '../themes/color-palette';

footer {
    margin: 0;
    background-color: $header-footer-bg-color;
    color: $bracket-game-color;

    & > section {
        border-bottom: 2px solid;
        border-bottom-color: $split-color;
    }

    img {
        height: 20px;
    }

    i {
        color: $bracket-game-color;
    }

}