//Supporting colors
$header-footer-bg-color: #13293D;
$body-bg-color: #16324F;
$icon-logo-color: #4CC9F0;
$text-color: #18435A;

//Bracket color
$bracket-game-color: #2A628F;
$bracket-between-round-line: #18435A;